# Accepts request from defined IP
http:
  middlewares:
    local-service:
      ipWhiteList:
        sourceRange:
          # If the host pc needs to reach services hosted on traefik
          # - "127.0.0.1/32"
          # local subnet allowing access within local network
          # - "192.168.1.0/24"
    force-http:
      redirectscheme:
        scheme: 'http'
        permanent: true
    force-https:
      redirectscheme:
        scheme: 'https'
        permanent: true
